body {
    margin: auto;
}

.hero {
    margin-top: 0;
    margin-bottom: 2em;
    padding: 2em;
    background-color: cadetblue;
    color: white;
}

.content {
    margin: auto;
    width: 85%;
    max-width: 65em;
    min-height: 30em;
}